*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
    
a {
    color: aliceblue;
    text-decoration: none;
}
    
a:hover {
    opacity: 0.7;
}
    
.header{
    background: rgb(62, 12, 12);
    padding-inline: 16px;
}
    
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
    
nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}
    
.nav-list a {
    font-size: 18px;
    color: aliceblue;
    padding-block: 16px;
}
    
.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
}
    
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: aliceblue;
    margin-top: 5px;
}
    
@media (max-width: 750px) {
    .hamburger{
        display: block;
    }
    
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(62, 12, 12);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    
}
    
main {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(tipos-de-academia-1.jpeg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
        
}
    
.date-h {
    background-color: rgb(86, 87, 87);
    border: 2px solid  black;
    border-radius: 5px;
    color: aliceblue;
}

.card {
    background: aliceblue;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
}

.card-link {
    width: 250px;
    display: block;
}

.card-item {
    list-style: none;
}

.card-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 12px;
}

.badge {
    color: rgb(0, 0, 0);
    margin: 16px 0 18px;
}

.card-title {
    font-size: 29px;
    font-weight: 600;
}

.card-btn {
    margin: 16 0 18;
    width: 80px;
    height: 25px;
    border-radius: 15px;
    background-color: black;
    color: aliceblue;
}