* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: rgb(5, 238, 230);
}

body {
    background: #000;
}

header  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    border: #000;
}

header .logo{
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
}

header .logo i {
    color: rgb(5, 238, 230);
}

header .nav a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
}

header .nav a:hover {
    background: rgb(5, 238, 230);
}

#mobile-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(img/tipos-de-academia-1.jpeg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;

}

form {
    background-color: aliceblue;
    max-width: 500px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
}

form h1 {
    text-align: center;
    
}

form p {
    text-align: center;
    margin: 20px 0;
    
}

.inp-single {
    position: relative;
    margin: 20px 0;

}

.inp-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

.inp {
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    padding: 5px;
    font-size: 17px;
    outline: 0;
}

form .inp-single .inp:focus ~ label,
form .inp-single .inp:valid ~ label {
    transform: translateY(-24px);
    font-size: 12px;
    color: gray;

}

.btn_sub {
    position: relative;
    background-color: cadetblue;
    width: 50%;
    border-radius: 30px;
    padding: 10px 40px;
    border: 0;
    border-bottom: rgb(108, 160, 161);
}

